.projectsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projects{
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top:2.5rem;
    margin-bottom:2.5rem;
    height:auto;
    width: 80vw;
    padding-bottom:2.5rem;
    font-family: 'Josefin Sans';
    flex-wrap: wrap
}

.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
}
.frames{
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top:2.5rem;
    margin-bottom:2.5rem;
    height:auto;
    width: 80vw;
    padding-bottom:2.5rem;
    font-family: 'Josefin Sans';
    flex-wrap: wrap
}

.project img{
    height: 10rem;
    width: 15rem;
}

.projectstitle{
    color:white;
    font-size: 3rem;
    font-family: 'Josefin Sans';
    text-align: center;
}

.tareas{
    width: 90%;
    text-align:justify
}


@media screen and (max-width: 768px){
    .projects{
        width: 95vw;
    }    
}

@media screen and (min-width: 1400px){
    .about{
        margin-bottom:10rem;
    }    
}