body{
    margin: 0
}

.titleimage{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}

.section{
    display:flex;
    flex-direction:column;
    margin-top:2.5rem;
    margin-bottom:2.5rem;
    height:100%;
    width: 80%;
    padding-bottom: 2.5rem;
    background-color: #333b50;
    font-family: 'Josefin Sans';
}

.section h1{
    margin-left:3rem;
}


.lista{
    margin-left: -2.5rem;
    height: 100%;
}

.description{
color: rgb(131, 79, 79);
width:40rem;
margin-left: 6rem;
margin-right: 3rem;
text-align: justify;
}
.cv{
    width:auto;
}

.imageabout{
    width:20rem;
    height:16rem;
    margin-left:3rem;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#btnopen{
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    padding: 0.5rem;
    height: 2rem;
    width: 8rem;
    box-shadow: 0.01rem 0.01rem 0.1rem 0.1rem rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

#btnabout:checked ~ .testsContainer{
    transition: all 500ms ease;
    transform: translatey(0%);
    height:26rem;
    width: 78vw;
    background-color: white;
    color: black;
    border: 1px solid #000000;
    position: absolute;
    top: -12rem;
    left: 0;
    z-index: 1;
    opacity: 1;
    visibility: visible;
}

#btnabout:checked ~ #btnopen{
    opacity: 0;
    visibility: hidden;
}

#btnabout:checked ~ .testsContainer{
    transition: all 500ms ease;
    transform: translatey(0%);
    height:100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.849);
    color: black;
    border: 1px solid #000000;
    position: fixed;
    top: 0;
    right:0;
    z-index: 1;
    opacity: 1;
    visibility: visible;
}

.testsContainer{
    transition: all 500ms ease;
    transform: translatey(-30%);
    height:26rem;
    width: 78vw;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid #000000;
    position: fixed;
    top: 0;
    right:0;
    right:0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}

.imgContainer{
    display: flex;
    flex-direction: column;
    height:36rem;
    width:100%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    cursor: default;
}

.testsContainer::before{
        content:"Da click en una imagen para verla mas grande";
        position: absolute;
        top: 2rem;
        left: 38%;
        color:white;
}

.testsContainer img {
    width: 45vw;
    height: 41vh;
    margin-left: 2rem;
    margin-right: 2rem;
    border: 2px solid #000000;
    
}

#btnabout{
    display:none
}

.btnabout{
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    height: 2rem;
    width: 8rem;
    box-shadow: 0.01rem 0.01rem 0.1rem 0.1rem rgba(255, 255, 255, 0.5);
}

.btnabout:hover{
    background-color: #141414;
    cursor: pointer;
}
.cerrar{
    color:white;
    font-size: 3.5rem;
    margin-left: 92vw;
    cursor: pointer;
}

.listas{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.photo{
    cursor: pointer;
    width:10rem;
}

.foto.show {
    transition: all 800ms ease;
    display: flex; 
    flex-direction:column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 4;
    cursor:default;
}

.foto.show img{
    width: 80vw;
    height: 80vh;
    cursor: pointer;
}

.foto.show::before{
    content:"Click en la imagen para volver atrás";
    color:white;
}


@media screen and (max-width: 1000px){
    .description{
        width: 100%;
        height: 100%;
        justify-content: center;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .imageabout{
        display:none
    }
}

@media screen and (max-width: 768px){
    .imageabout{
        display:none;
    }
    .description{
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }
    .section{
        width: 90%;
        height:auto;
    }

    .about{
        height:100%;
    }

    .testsContainer img {
        width: 40vw;
        height: 35vh;
    }
}

@media screen and (max-width: 600px){
    .imgContainer{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .testsContainer img {
        width: 45vw;
        height: 30vh; 
    }
}