.backgroundVideo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
}

body{
    background-color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}